@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.subCategory{
    position: relative;
}
.subCategory::before{
    position: absolute;
    content: '';
    background: #1FA45B;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
}
.themeChanger{
    width: 40px;
    height: 12px;
    background: #D4D4D4;
    border-radius: 5px;
    position: relative;
    display: inline-block;
}
.themeChanger::before{
    content: '';
    position: absolute;
    background: #A4A4A4;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}