@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.subCategory{
    position: relative;
}
.subCategory::before{
    position: absolute;
    content: '';
    background: lawngreen;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
}